In [97]:
import pandas as pd
import numpy as np

In [74]:
Project=pd.read_csv("Project_AC.csv")

In [75]:
Project

,Brand,Color,Price,no_of_star,rating,discount,Model,Ton,annual_electricity_Consumption
0,Voltas,White,32490,3.0,4.2,48.0,2023.0,1.5,624.48
1,SAMSUNG,White,30490,3.0,4.2,51.0,NaN,1.5,1123.77
2,Daikin,White,25999,3.0,4.1,30.0,2023.0,0.8,NaN
3,Haier,NaN,31990,3.0,4.0,50.0,2023.0,1.5,686.48
4,Whirlpool,NaN,37990,5.0,3.9,46.0,2023.0,1.5,NaN
...,...,...,...,...,...,...,...,...,...
811,Daikin,White,53000,5.0,4.2,15.0,NaN,1.5,824.08
812,Panasonic,White,52499,3.0,NaN,24.0,NaN,NaN,1050.84
813,Haier,White,60890,3.0,4.1,NaN,NaN,1.5,1123.23
814,SAMSUNG,White,31390,3.0,NaN,38.0,2023.0,NaN,624.48
815,Panasonic,White,41350,4.0,NaN,30.0,NaN,1.5,962.49

In [76]:
Project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand                           816 non-null    object
 1   Color                           661 non-null    object
 2   Price                           816 non-null    int64
 3   no_of_star                      783 non-null    float64
 4   rating                          649 non-null    float64
 5   discount                        779 non-null    float64
 6   Model                           288 non-null    float64
 7   Ton                             547 non-null    float64
 8   annual_electricity_Consumption  612 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 57.5+ KB

In [77]:
Project["Brand"]=Project["Brand"].replace('Blue','Blue star')
Project["Brand"]=Project["Brand"].replace('O','O-General')
Project["Brand"]=Project["Brand"].replace('White','White Westinghouse')
Project["Brand"].value_counts()

Voltas                82
Daikin                77
Blue star             75
Lloyd                 75
Hitachi               66
Panasonic             64
LG                    61
SAMSUNG               56
CARRIER               46
Godrej                42
Haier                 32
Whirlpool             20
IFB                   15
ONIDA                 14
O-General             14
MarQ                  14
realme                 8
TOSHIBA                7
Midea                  7
Thomson                7
CANDY                  7
Hisense                6
MOTOROLA               4
Frigidaire             3
CRUISE                 3
White Westinghouse     3
NU                     2
Sansui                 1
Kelvinator             1
Mitsubishi             1
MITASHI                1
Equator                1
GREE                   1
Name: Brand, dtype: int64

In [78]:
Project["Color"]=Project["Color"].replace('Whi','White')
Project["Color"]=Project["Color"].replace('W','White')
Project["Color"]=Project["Color"].replace('Print','White')
Project["Color"].mode()

0    White
Name: Color, dtype: object

In [79]:
Project["Color"]=Project["Color"].fillna(Project["Color"].mode()[0])
Project["Color"].value_counts()

White         798
Gold            8
Silver          5
Red             1
Floral          1
Beige           1
Multicolor      1
Champagne       1
Name: Color, dtype: int64

In [80]:
Project["no_of_star"].mean()

3.710089399744572

In [81]:
Project["no_of_star"]=Project["no_of_star"].fillna(Project["no_of_star"].mean()).astype("int")
Project["no_of_star"].value_counts()

3    459
5    259
4     69
2     27
1      2
Name: no_of_star, dtype: int64

In [82]:
Project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand                           816 non-null    object
 1   Color                           816 non-null    object
 2   Price                           816 non-null    int64
 3   no_of_star                      816 non-null    int32
 4   rating                          649 non-null    float64
 5   discount                        779 non-null    float64
 6   Model                           288 non-null    float64
 7   Ton                             547 non-null    float64
 8   annual_electricity_Consumption  612 non-null    float64
dtypes: float64(5), int32(1), int64(1), object(2)
memory usage: 54.3+ KB

In [83]:
Project["rating"].mode()

0    4.2
Name: rating, dtype: float64

In [84]:
Project["rating"]=Project["rating"].fillna(Project["rating"].mode()[0])
Project["rating"].value_counts()

4.2    314
4.1    135
4.0     76
4.3     68
3.9     37
3.7     29
4.4     28
3.8     28
4.8     11
5.0     10
3.6      9
3.4      9
4.5      9
4.7      7
3.0      6
3.5      6
4.6      5
3.3      5
2.0      5
3.2      5
2.8      5
3.1      2
2.7      2
1.5      1
1.0      1
4.9      1
2.3      1
2.6      1
Name: rating, dtype: int64

In [85]:
Project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand                           816 non-null    object
 1   Color                           816 non-null    object
 2   Price                           816 non-null    int64
 3   no_of_star                      816 non-null    int32
 4   rating                          816 non-null    float64
 5   discount                        779 non-null    float64
 6   Model                           288 non-null    float64
 7   Ton                             547 non-null    float64
 8   annual_electricity_Consumption  612 non-null    float64
dtypes: float64(5), int32(1), int64(1), object(2)
memory usage: 54.3+ KB

In [61]:
Project.isnull().sum()

Brand                               0
Color                               0
Price                               0
no_of_star                          0
rating                              0
discount                           37
Model                             528
Ton                               269
annual_electricity_Consumption    204
dtype: int64

In [86]:
Project

,Brand,Color,Price,no_of_star,rating,discount,Model,Ton,annual_electricity_Consumption
0,Voltas,White,32490,3,4.2,48.0,2023.0,1.5,624.48
1,SAMSUNG,White,30490,3,4.2,51.0,NaN,1.5,1123.77
2,Daikin,White,25999,3,4.1,30.0,2023.0,0.8,NaN
3,Haier,White,31990,3,4.0,50.0,2023.0,1.5,686.48
4,Whirlpool,White,37990,5,3.9,46.0,2023.0,1.5,NaN
...,...,...,...,...,...,...,...,...,...
811,Daikin,White,53000,5,4.2,15.0,NaN,1.5,824.08
812,Panasonic,White,52499,3,4.2,24.0,NaN,NaN,1050.84
813,Haier,White,60890,3,4.1,NaN,NaN,1.5,1123.23
814,SAMSUNG,White,31390,3,4.2,38.0,2023.0,NaN,624.48
815,Panasonic,White,41350,4,4.2,30.0,NaN,1.5,962.49

In [87]:
Project.isnull().sum()

Brand                               0
Color                               0
Price                               0
no_of_star                          0
rating                              0
discount                           37
Model                             528
Ton                               269
annual_electricity_Consumption    204
dtype: int64

In [89]:
Project.drop("Model",inplace =True,axis=1)

In [119]:
Project

,Brand,Color,Price,no_of_star,rating,discount,Ton,annual_electricity_Consumption
0,Voltas,White,32490.0,3.0,4.2,48.00,1.5,624.48
1,SAMSUNG,White,30490.0,3.0,4.2,51.00,1.5,1123.77
3,Haier,White,31990.0,3.0,4.0,50.00,1.5,686.48
7,Voltas,White,39490.0,5.0,4.2,48.00,1.5,704.42
8,Blue star,White,35900.0,3.0,4.2,42.00,1.5,1134.28
...,...,...,...,...,...,...,...,...
807,SAMSUNG,White,37388.0,3.0,4.2,18.00,1.5,1049.79
809,Godrej,White,31900.0,3.0,3.7,30.00,1.5,1123.23
811,Daikin,White,53000.0,5.0,4.2,15.00,1.5,824.08
813,Haier,White,60890.0,3.0,4.1,33.66,1.5,1123.23
815,Panasonic,White,41350.0,4.0,4.2,30.00,1.5,962.49

In [92]:
Project["discount"].mean()

33.66367137355584

In [95]:
Project.isnull().sum()

Brand                               0
Color                               0
Price                               0
no_of_star                          0
rating                              0
discount                           37
Ton                               269
annual_electricity_Consumption    204
dtype: int64

In [112]:
Project.discount[Project["discount"].isnull()]=33.66

C:\Users\Hari D\AppData\Local\Temp\ipykernel_20968\334739100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Project.discount[Project["discount"].isnull()]=33.66

In [113]:
Project.isnull().sum()

Brand                               0
Color                               0
Price                               0
no_of_star                          0
rating                              0
discount                            0
Ton                               269
annual_electricity_Consumption    204
dtype: int64

In [117]:
Project.dropna(how="any",inplace=True)

In [118]:
Project.isnull().sum()

Brand                             0
Color                             0
Price                             0
no_of_star                        0
rating                            0
discount                          0
Ton                               0
annual_electricity_Consumption    0
dtype: int64

In [122]:
Project.dtypes

Brand                              object
Color                              object
Price                             float64
no_of_star                        float64
rating                            float64
discount                          float64
Ton                               float64
annual_electricity_Consumption    float64
dtype: object

In [123]:
Project["no_of_star"]=Project["no_of_star"].astype('int')

In [124]:
Project.dtypes

Brand                              object
Color                              object
Price                             float64
no_of_star                          int32
rating                            float64
discount                          float64
Ton                               float64
annual_electricity_Consumption    float64
dtype: object

In [125]:
Project

,Brand,Color,Price,no_of_star,rating,discount,Ton,annual_electricity_Consumption
0,Voltas,White,32490.0,3,4.2,48.00,1.5,624.48
1,SAMSUNG,White,30490.0,3,4.2,51.00,1.5,1123.77
3,Haier,White,31990.0,3,4.0,50.00,1.5,686.48
7,Voltas,White,39490.0,5,4.2,48.00,1.5,704.42
8,Blue star,White,35900.0,3,4.2,42.00,1.5,1134.28
...,...,...,...,...,...,...,...,...
807,SAMSUNG,White,37388.0,3,4.2,18.00,1.5,1049.79
809,Godrej,White,31900.0,3,3.7,30.00,1.5,1123.23
811,Daikin,White,53000.0,5,4.2,15.00,1.5,824.08
813,Haier,White,60890.0,3,4.1,33.66,1.5,1123.23
815,Panasonic,White,41350.0,4,4.2,30.00,1.5,962.49

In [126]:
Project["Price"]=Project["Price"].astype(int)

In [132]:
Project.dtypes

Brand                              object
Color                              object
Price                               int32
no_of_star                          int32
rating                            float64
discount                          float64
Ton                               float64
annual_electricity_Consumption    float64
dtype: object

In [133]:
Project.Ton.unique()

array([1.5 , 0.75, 0.8 , 1.2 , 1.3 , 1.8 , 1.6 , 0.7 , 1.4 , 2.02, 2.2 ,
       1.7 , 1.25])

In [134]:
Project

,Brand,Color,Price,no_of_star,rating,discount,Ton,annual_electricity_Consumption
0,Voltas,White,32490,3,4.2,48.00,1.5,624.48
1,SAMSUNG,White,30490,3,4.2,51.00,1.5,1123.77
3,Haier,White,31990,3,4.0,50.00,1.5,686.48
7,Voltas,White,39490,5,4.2,48.00,1.5,704.42
8,Blue star,White,35900,3,4.2,42.00,1.5,1134.28
...,...,...,...,...,...,...,...,...
807,SAMSUNG,White,37388,3,4.2,18.00,1.5,1049.79
809,Godrej,White,31900,3,3.7,30.00,1.5,1123.23
811,Daikin,White,53000,5,4.2,15.00,1.5,824.08
813,Haier,White,60890,3,4.1,33.66,1.5,1123.23
815,Panasonic,White,41350,4,4.2,30.00,1.5,962.49

In [135]:
#ex=pd.ExcelWriter("New_project.xlsx")
#Project.to_excel(ex,index=False)
#ex.save()

C:\Users\Hari D\AppData\Local\Temp\ipykernel_20968\477535036.py:3: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  ex.save()

In [138]:
Project.isnull().sum()

Brand                             0
Color                             0
Price                             0
no_of_star                        0
rating                            0
discount                          0
Ton                               0
annual_electricity_Consumption    0
dtype: int64

In [ ]:
Project["rating"]=Project["rating"].fillna(Project["rating"].mode()[0])
Project.discount[Project["discount"].isnull()]=33.66